# --- macOS system files ---
.DS_Store

# --- Ignore contents of chroma_db but keep the folder ---
/chroma_store/*
!/chroma_store/

# --- Ignore contents of downloads but keep the folder ---
/data/*
!/data/

# --- Keep configs folder ---
/config/*
!config/

# --- Python typical ignores ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.env
.env
.venv/
venv/

# --- IDE / Editor files ---
.vscode/
.idea/
